doctype html
html
  head
    title  Лента
    include partials/head

  body.chef
    .head
      img(src="./images/lenta/logo_lenta.svg")
      .wrapper
        .header_title
          .human
          | Приглашаем Вас стать частью нашей дружной команды в качестве
          br
          span повара-универсала
          .cool_button
            | Стать частью команды

    .tasks
      .wrapper
        .content_wrapper
          .title Ваши задачи и обязанности
          br
          .list_item
            .oval
            | Изготовление салатов и горячих блюд, полуфабрикатов
            br
            | по технологическим картам в соответствии с плановым
            br
            | заданием и учетом покупательского спроса
          br
          .list_item
            .oval
            | Разделка мяса, птицы, рыбы
          br
          .list_item
            .oval
            | Контроль качества сырья, полуфабрикатов и готовой
            br
            | продукции
          br
          .list_item
            .oval
            | Соблюдение технологических инструкций, рецептур
          br
          .list_item
            .oval
            | Контроль выкладки продукции в торговом зале
          .footer_list_item
            img(src="./images/lenta/convert.svg")
            | Оплата труда: 
            span.bold  29 400 - 38 000 
            | руб.

    .advantage
      .wrapper
        .content_wrapper
          .title Преимущества работы
          .item_row
            .item.item_1
              .round
              | Официальное оформление с 1-го рабочего дня. Стабильная выплата заработной платы. Ежемесячное премирование.
            .item.item_2
              .round
              | Полный спектр социальных льгот (питание, ДМС, спецодежда, подарки за участие в профессиональных конкурсах)
            .item.item_3
              .round
              | Система надбавок (выслуга лет, доплата за особые условия труда)
            .item.item_4
              .round
              | Оплачиваемый отпуск и больничный лист
            .item.item_5
              .round
              | Возможность профессионального и карьерного роста
            .item.item_6
              .round
              | Гибкие сменные графики работы
          .description
            | Компания сегодня – это 233 гипермаркета в 84 городах по всей России и 112 супермаркетов в Москве, Санкт-Петербурге, Новосибирске, Барнауле, Екатеринбурге и Центральном регионе, более 40 000 сотрудников

    .expectations
      .wrapper
        .content_wrapper
          .title
            | Мы ждем Вас, если у Вас есть
          .item_row
            .item.item_1
              .icon
              | Среднее профессиональное образование
            .item.item_2
              .icon
              | Стаж работы от 1 года в должности повара
            .item.item_3
              .icon
              | Трудолюбие, аккуратность, исполнительность
          .cool_button
            | Стать частью команды

      .sacrifice
        .wrapper
          .content_wrapper
            .title
              | Мы предлагаем Вам пройти небольшой путь
            .item_column
              .item.item_1
                .number
                  | 1
                .mini-wrap
                  span.fatty Онлайн-опрос:
                  br
                  | Вам потребуется ноутбук или смартфон и несколько минут свободного времени!
              .item.item_2
                .number
                  | 2
                .mini-wrap
                  span.fatty Личное знакомство:
                  br
                  | В случае успеха мы с вами свяжемся и договоримся о встрече!
            .cool_button
              | Стать частью команды
      .footer
        .wrapper
          .content_wrapper
            .title
              | Остались вопросы?
            .footer_info
              | Позвоните нам: <a href="tel:78007700030">8-800-770-00-30</a>
              br
              | Или напишите на почту: 
              span.mail kandidat@lenta.com

