.operator .head {
  position: relative;
  background: #FBCE20;
  width: 100%;

  .header_title {
    font-size: 36px;
    padding: 135px 0 58px 0;
    color: #233375;

    span {
      font-weight: 600;
    }
  }

  img {
    position: absolute;
    left: 0px;
    top: 40px;
  }

  .human {
    position: absolute;
    width: 560px;
    height: 560px;
    background: url('../images/lenta/human.svg') no-repeat center / contain;
    right: 0px;
    top: -90px;
  }
}

.tasks {
  background: #ffffff;;
  width: 100%;
  padding-bottom: 30px;

  .list_item {
    position: relative;
    padding-left: 20px;
    font-family: Arial;
    font-size: 24px;
    line-height: 29px;
    color: #707070;

    .oval {
      position: absolute;
      left: 0px;
      top: 13px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #FBCE20;
    }
  }

  .footer_list_item {
    position: relative;
    font-size: 25px;
    color: #233375;
    padding: 44px 0 0 60px;

    img {
      position: absolute;
      left: 0px;
      top: 30px;
    }

    span.bold {
      font-weight: 600;
    }
  }
}

.advantage {
  background: #ffffff;;
  width: 100%;

  .description {
    border-left: 1px solid #707070;
    padding: 8px 0 8px 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
    color: #707070;
  }

  .item_row {
    .item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: 0 0 50%;
      padding: 0 10px 50px 0;
      font-size: 24px;
      line-height: 29px;
      color: #707070;
    }

    .round {
      flex: 0 0 100px;
      height: 100px;
      margin-right: 40px;
    }

    .item_1 .round {
      background: url('../images/lenta/item1.svg') no-repeat center / contain;
    }

    .item_2 .round {
      background: url('../images/lenta/item2.svg') no-repeat center / contain;
    }

    .item_3 .round {
      background: url('../images/lenta/item3.svg') no-repeat center / contain;
    }

    .item_4 .round {
      background: url('../images/lenta/item4.svg') no-repeat center / contain;
    }

    .item_5 .round {
      background: url('../images/lenta/item5.svg') no-repeat center / contain;
    }

    .item_6 .round {
      background: url('../images/lenta/item6.svg') no-repeat center / contain;
    }
  }
}

.expectations {
  background: #EAF1FC;
  width: 100%;

  .item_row {
    .item {
      display: block;
      flex: 0 0 33%;
      padding: 0 10px 0 0;
      font-size: 24px;
      line-height: 29px;
      color: #707070;
    }

    .icon {
      flex: 0 0 100px;
      align-items: left;
      width: 70px;
      height: 70px;
      margin-bottom: 16px;
    }

    .item_1 .icon {
      background: url('../images/lenta/shlyapa.svg') no-repeat center / contain;
    }

    .item_2 .icon {
      background: url('../images/lenta/cran.svg') no-repeat center / contain;
    }

    .item_3 .icon {
      background: url('../images/lenta/anketa.svg') no-repeat center / contain;
    }
  }
}

.sacrifice {
  background: #ffffff;
  width: 100%;

  .item_column {
    display: block;

    .item {
      display: flex;
      font-size: 24px;
      color: #707070;
      font-family: 'Arial MT', sans-serif;
      margin-top: 30px;
    }

    .number {
      font-size: 70px;
      font-family: 'AG Stencil', sans-serif;
      color: #FBCE20;
      height: 55px;
      margin-right: 20px;
    }

    span.fatty {
      font-weight: 600;
      height: 27px;
      margin-bottom: 5px;
    }
  }
}

.footer {
  background: #233375;

  .title {
    color: #FBCE20;
    margin-bottom: 10px;
  }

  .footer_info {
    line-height: 34px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;

    a {
      color: #FBCE20;
    }

    span.mail {
      color: #FBCE20;
    }
  }
}

@media (max-width: 1280px) {
  .head .wrapper .human {
    right: -50px;
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 768px) {
  .sacrifice {
    .mini-wrap br {
      display: none;
    }

    .item_column span.fatty {

      display: block;
    }
  }

  .expectations {
    .item_row {
      display: block;
    }

    .item_row .item {
      margin-bottom: 32px;
      width: 100%;
      font-size: 18px;
      line-height: 29px;
    }
  }

  .head {
   .wrapper img {
      left: -180px;
      top: 40px;
    }

    .human {
      display: none;
    }

    .header_title {
      font-size: 30px;
    }
  }

  .tasks {
    .list_item {
      font-size: 18px;
    }

    .footer_list_item {
      font-size: 18px;
      padding: 60px 0 0 0;

      img {
        position: initial;
        width: 80px;
        display: flex;
        margin-bottom: 24px;
      }
    }
  }

  .advantage {
    .title {
      text-align: center;
    }

    .description {
      font-size: 18px;
    }

    .item_row {
      flex-flow: column wrap;

      .item {
        font-size: 18px;
        flex-flow: column nowrap;
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
      }

      .round {
        width: 100px;
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
  }

  .sacrifice {
    .item_column {
      .item {
        font-size: 18px;

        .number {
          font-size: 48px;
        }
      }
    }
  }

  .footer {
    .footer_info {
      font-size: 18px;
    }
  }
}

@media( max-width: 321px) {
  .head {
    img {
      left: -180px;
      top: 40px;
    }

    .header_title {
      font-size: 28px;
    }
  }

  .tasks {
    .footer_list_item {
      font-size: 17px;

      img {
        left: 100px;
      }
    }
  }
}